h1 {
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 1000;
    font-style: normal;
    color: black;
    font-size: 100px;
  }

h2 {
    text-align: center;
    color: #8C7F7F;
    font-size: 50px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

#top {
    background-image: url(graphicartsback.jpeg);
    padding-bottom: 250px;
    padding-top: 250px;
    color: #8C7F7F;
}

#intro {
    padding-top: 50px;
}

.intro {
    border: black 3px solid;
    font-size: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    text-align: center;
    background: #a9a39d;
    color: #54514e;
}

.carousel-inner {
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
}
.introo {
    font-size: 30px;
    border: black 3px solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom:50px;
    text-align: center;
    background: #a9a39d;
    color: #54514e;
}

#before {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #c6e4ff;
}

#current {
    margin-top: 30px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: #ffd0ed;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
    margin: 50px auto;
    color: black;
  }

  .grid-container textarea {
    text-align: center;
    height: 120px;
    padding: 10px;
    font-size: 20px;
    color: black !important;
    width: 100%;
  }

p {
    font-size: 20px;
    text-align: center;
}

.future {
    background: #ff66c4;
}
